---
import Layout from '@/layouts/Layout.astro';
import { Button } from '@nextui-org/react';
---

<Layout
  title="Nicolás Garzón"
  description="Bienvenido al portafolio de Nicolás Garzón, un desarrollador frontend con experiencia en crear webs innovadoras, rápidas y optimizadas. Descubre proyectos web modernos y responsivos, los servicios de desarrollo frontend que ofrece, y su experiencia en tecnologías como React, Next.js y JavaScript. Conoce más sobre su trayectoria y cómo puede ayudarte a crear sitios web de alto rendimiento."
>
  <main>
    <h1 class="text-4xl text-blue-700">Hola mundo</h1>
    <Button color="primary" client:visible>My button</Button>
  </main>
</Layout>
